
<%#= render :partial => "layouts/dummy_reimburse_association" %>



<%#= render :partial => "layouts/dummy_statistics" %>
<div class="row">
    <div class="col-sm-12">
        <div class="row space12">
            <ul class="mini-stats col-sm-12">
                <li class="col-sm-4 mobile-one-third red-awesome">
                    <div class="values">
                        <strong>0</strong>
                         Outstanding Reimburse
                    </div>
                </li>
                <li class="col-sm-4 mobile-one-third">
         
                    <div class="values">
                        <strong>5</strong>
                        Rejected Reimburse
                    </div>
                </li>
                <li class="col-sm-4 mobile-one-third">

                    <div class="values">
                        <strong>3</strong>
                        Approved Reimburse
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




<!-- start: PAGE CONTENT -->
<div class="row">
	<!-- <div class="bs-example" data-example-id="default-media"> -->
	<div class="col-sm-8">
		<div class="media">
	      <div class="media-left">
	        <a href="#">
	          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	        </a>
	      </div>
	      <div class="media-body">
	        <h4 class="media-heading" id="media-heading">Tito H. Batubara<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
	        Project Awesome
	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 1<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            150,000 IDR
	            <br /> 
	            Beserta mu selamanya
	            <br />

	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span class="badge">4</span>
				</button>
	          </div>
	          <div class="media-right ">

	          	<button type="button"  
	          		class="btn btn-success btn-xs detail-approver" 
	          		autocomplete="off">
  					Yes
				</button>
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 2<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            100k IDR
	            <br /> 
	            Pergi ke pasar membeli ikan 
	            <br /> 
	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span class="badge">1</span>
				</button> 
	          </div>
	          <div class="media-right ">
	          	 
	          	<button type="button"  
	          		class="btn btn-success btn-xs detail-approver" 
	          		autocomplete="off">
  					Yes
				</button>
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 3<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            500k IDR
	            <br />
	            Beli botol minum di happy puppy
	            <br /> 
	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span class="badge">1</span>
				</button> 
	          </div>

	          <div class="media-right ">
	          	 
	          	<button type="button"  
	          		class="btn btn-success btn-xs detail-approver" 
	          		autocomplete="off">
  					Yes
				</button>
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 4<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	           50,000 IDR
	           <br />
	           Berjalan di tepi pantai mencari surga, dapatnya Alexis.
	           <br /> 
	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span class="badge">1</span>
				</button> 
	          </div>
	          <div class="media-right ">

	          	<button type="button"  
	          		class="btn btn-success btn-xs detail-approver" 
	          		autocomplete="off">
  					Yes
				</button>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>





	<div class="col-sm-4 text-center"  >
		<h3>Total = 80000</h3>
		<br />
		<button type="button" class="btn btn-primary">Confirm</button>
	</div>

	    


	<!-- </div> -->
</div>

<hr />

<div class="row">
	<!-- <div class="bs-example" data-example-id="default-media"> -->
	<div class="col-sm-8">
		<div class="media">
	      <div class="media-left">
	        <a href="#">
	          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	        </a>
	      </div>
	      <div class="media-body">
	        <h4 class="media-heading" id="media-heading">Tito H. Batubara<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
	        Project Awesome
	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 1<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            150,000 IDR
	            <br /> 
	            Beserta mu selamanya
	            <br />

	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
				  <span class="badge">4</span>
				</button>
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 2<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            100k IDR
	            <br /> 
	            Pergi ke pasar membeli ikan 
	            <br /> 
	            <button class="btn btn-primary btn-xs" type="button">
				  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span class="badge">1</span>
				</button>
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 3<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	            500k IDR
	            <br />
	            Beli botol minum di happy puppy
	          </div>
	        </div>

	        <div class="media">
	          <div class="media-left">
	            <a href="#">
	              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="width: 64px; height: 64px;">
	            </a>
	          </div>
	          <div class="media-body">
	            <h4 class="media-heading" id="nested-media-heading">Reimburse 4<a class="anchorjs-link" href="#nested-media-heading"><span class="anchorjs-icon"></span></a></h4>
	           50,000 IDR
	           <br />
	           Berjalan di tepi pantai mencari surga, dapatnya Alexis.
	          </div>
	        </div>
	      </div>
	    </div>
	</div>

	<div class="col-sm-4 center-block" style="text-align:center;" >
		<h3>Total = 80000</h3>
		<br />
		<button type="button" class="btn btn-primary">Confirm</button>
	</div>

	    


	<!-- </div> -->
</div>


<% content_for :page_specific_js do %>

<script type='text/javascript'>
	jQuery(document).ready(function() {
		console.log("I am awesome");


		// $( "body" ).delegate( ".detail-approver", "click", function() {
		//   console.log( $(this) );
		// });



		$( document ).on( "click", ".detail-approver", function() {
			var $btn = $(this); 




			if( $btn.hasClass("btn-success") ){
				$btn.removeClass("btn-success");
				$btn.addClass("btn-danger");
				$btn.text("No");
			}else{
				$btn.removeClass("btn-danger");
				$btn.addClass("btn-success");
				$btn.text("Yes");
			}
		});



	
		
	});
</script>
<% end %> 