


<!-- start: PAGE HEADER -->
<% @objects.each do |object| %>
<div class="row" >
    <div class="col-sm-12" style="text-align:center;">
        

<!--         <div class="core-box">
            <%= image_tag "repay_landing.png" , :style => "width:100%" %>
        </div>
 -->
        <h2>
        	<%= link_to object.title , show_article_url(object.slug) %>
        </h2>
        <p><%= object.description %></p>
    </div>
    <%= render :partial => "layouts/dummy_breadcrumb" %>
</div>
<hr />
<% end  %>