


<!-- start: PAGE HEADER -->
<div class="row" >
    <div class="col-sm-12" style="text-align:center;">
        <div class="core-box">
            <%= image_tag "repay_landing.png" , :style => "width:100%" %>
        </div>
    </div>
    <%= render :partial => "layouts/dummy_breadcrumb" %>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-4">
        <div class="core-box">
            <div class="heading">
                <i class="clip-user-4 circle-icon circle-green"></i>
                <h2>Never lose receipts</h2>
            </div>
            <div class="content">
                Take picture of the receipts. 
                Store it in the cloud.
            </div>
          <!--   <a class="view-more" href="#">
                View More <i class="clip-arrow-right-2"></i>
            </a> -->
        </div>
    </div>
    <div class="col-sm-4">
        <div class="core-box">
            <div class="heading">
                <i class="clip-clip circle-icon circle-teal"></i>
                <h2>Save time claiming reimburse</h2>
            </div>
            <div class="content">
                With one-click, you can generate report, submit the reimburse, and track the approval.
            </div>
           <!--  <a class="view-more" href="#">
                View More <i class="clip-arrow-right-2"></i>
            </a> -->
        </div>
    </div>
    <div class="col-sm-4">
        <div class="core-box">
            <div class="heading">
                <i class="clip-database circle-icon circle-bricky"></i>
                <h2>Collaborate Anytime Anywhere</h2>
            </div>
            <div class="content">
                Internet connection is all you need. 
            </div>
         <!--    <a class="view-more" href="#">
                View More <i class="clip-arrow-right-2"></i>
            </a> -->
        </div>
    </div>
</div>


<%#= render :partial => "layouts/dummy_chart" %>


<%#= render :partial => "layouts/dummy_statistics" %>

