


<div class="row">

	<div class="col-sm-3 center-block" style="text-align:center; margin-top:10px;" >
        <%= link_to reimburses_url ,  :class => "btn btn-warning" do %>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Cancel CREATE
            <%=  "#{@errors_size}" %>

            <%=  "#{@object.errors.size}" %>
        <% end %>

	</div>


	<div class="col-sm-9">
        <%= render :partial => "form", :locals => {:object => @object } %> 
	</div>


</div>



<% content_for :page_specific_js do %>
<script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
<script type="text/javascript">
// We call .transloadit() after the DOM is initialized:
$(function() {

    $('.transloadit-input').change(function(){
        console.log("The input is changed")
         var $this = $(this);
         var $form = $this.parents("form");

        $form.transloadit( {
            wait : true ,
            processZeroFiles: true 
        } );

         // var $submit_button = $(".submit-button", $form);
         
         // if ($(this).val()) {
         //   $submit_button.show();
         //   // $('input:submit').attr('disabled',false);
         // }else{
         //   $submit_button.hide();
         // }
    });



});
</script>
<% end %>