                        <li class="active">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown">
                                <span class="selected"></span>
                                Layouts <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="javascript:void(0)">
                                        Horizontal Menu
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Sidebar Closed
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Sidebar Fixed Page
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Boxed Layout
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Footer Fixed
                                    </a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0)">
                                        More options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                Second level link
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0)">
                                                More options
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        Third level link
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        Third level link
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        Third level link
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        Third level link
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        Third level link
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                Second level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                Second level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                Second level link
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                UI Lab
                            </a>
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown">
                                Pages <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        User Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="pages_invoice.html">
                                        <span class="title">Invoice</span>
                                        <span class="badge badge-new">new</span>
                                    </a>
                                </li>                               
                                <li>
                                    <a href="javascript:void(0)">
                                        Gallery
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Timeline
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        FAQs
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        Messages
                                    </a>
                                </li>
                            </ul>
                        </li>