<ul class="messages-list">
	<li class="messages-search">
		<form action="#" class="form-inline">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search messages...">
				<div class="input-group-btn">
					<button class="btn btn-primary" type="button">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</li>
	<li class="messages-item">
		<span title="Mark as starred" class="messages-item-star"><i class="fa fa-star"></i></span>
		<%= image_tag "avatar-1.jpg" , :class => "messages-item-avatar" %>
		<span class="messages-item-from">Peter Clark</span>
		<div class="messages-item-time">
			<span class="text">10:23 PM</span>
			<div class="messages-item-actions">
				<a data-toggle="dropdown" title="Reply" href="#"><i class="fa fa-mail-reply"></i></a>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Move to folder" href="#"><i class="fa fa-folder-open"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">
								<i class="fa fa-pencil"></i>
								Mark as Read
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-ban"></i>
								Spam
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-trash-o"></i>
								Delete
							</a>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Attach to tag" href="#"><i class="fa fa-tag"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#"><i class="tag-icon red"></i>Important</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon teal"></i>Work</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon green"></i>Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span class="messages-item-subject">Lorem ipsumdolor sit amet ...</span>
		<span class="messages-item-preview">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do antera ...</span>
	</li>
	<li class="messages-item active starred">
		<span title="Remove star" class="messages-item-star"><i class="fa fa-star"></i></span>
		<%= image_tag "avatar-1.jpg" , :class => "messages-item-avatar" %>
		<span class="messages-item-from">Nicole Bell</span>
		<div class="messages-item-time">
			<span class="text">08:46 PM</span>
			<div class="messages-item-actions">
				<a data-toggle="dropdown" title="Reply" href="#"><i class="fa fa-mail-reply"></i></a>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Move to folder" href="#"><i class="fa fa-folder-open"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">
								<i class="fa fa-pencil"></i>
								Mark as Read
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-ban"></i>
								Spam
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-trash-o"></i>
								Delete
							</a>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Attach to tag" href="#"><i class="fa fa-tag"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#"><i class="tag-icon red"></i>Important</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon teal"></i>Work</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon green"></i>Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span class="messages-item-subject">Duis autem vel eum iriure ...</span>
		<span class="messages-item-preview">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do antera ...</span>
	</li>
	<li class="messages-item">
		<span title="Mark as starred" class="messages-item-star"><i class="fa fa-star"></i></span>
		<span class="messages-item-attachment"><i class="fa fa-paperclip"></i></span>
		<%= image_tag "avatar-1.jpg" , :class => "messages-item-avatar" %>
		<span class="messages-item-from">Steven Thompson</span>
		<div class="messages-item-time">
			<span class="text">04:03 PM</span>
			<div class="messages-item-actions">
				<a data-toggle="dropdown" title="Reply" href="#"><i class="fa fa-mail-reply"></i></a>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Move to folder" href="#"><i class="fa fa-folder-open"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">
								<i class="fa fa-pencil"></i>
								Mark as Read
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-ban"></i>
								Spam
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-trash-o"></i>
								Delete
							</a>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Attach to tag" href="#"><i class="fa fa-tag"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#"><i class="tag-icon red"></i>Important</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon teal"></i>Work</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon green"></i>Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span class="messages-item-subject">Lorem ipsumdolor sit amet ...</span>
		<span class="messages-item-preview">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do antera ...</span>
	</li>
	<li class="messages-item">
		<span title="Mark as starred" class="messages-item-star"><i class="fa fa-star"></i></span>
		<%= image_tag "avatar-1.jpg" , :class => "messages-item-avatar" %>
		<span class="messages-item-from">Peter Clark</span>
		<div class="messages-item-time">
			<span class="text">11:16 AM</span>
			<div class="messages-item-actions">
				<a data-toggle="dropdown" title="Reply" href="#"><i class="fa fa-mail-reply"></i></a>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Move to folder" href="#"><i class="fa fa-folder-open"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">
								<i class="fa fa-pencil"></i>
								Mark as Read
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-ban"></i>
								Spam
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-trash-o"></i>
								Delete
							</a>
						</li>
					</ul>
				</div>
				<div class="dropdown">
					<a data-toggle="dropdown" title="Attach to tag" href="#"><i class="fa fa-tag"></i></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#"><i class="tag-icon red"></i>Important</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon teal"></i>Work</a>
						</li>
						<li>
							<a href="#"><i class="tag-icon green"></i>Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span class="messages-item-subject">Duis autem vel eum iriure ...</span>
		<span class="messages-item-preview">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do antera ...</span>
	</li>
</ul>