                        <!-- <div class="col-sm-12"> -->
                            <!-- start: PAGE TITLE & BREADCRUMB -->

              <!--               <div class="page-header" style="text-align:center;">
                                <%= image_tag "play_3.png" %>
                            </div> -->
                            <!-- end: PAGE TITLE & BREADCRUMB -->
                        <!-- </div> -->