                    <div class="row">
                        <div class="col-sm-7">
                            <div class="row space12">
                                <ul class="mini-stats col-sm-12">
                                    <li class="col-sm-4">
                                        <div class="sparkline_bar_good">
                                            <span>3,5,9,8,13,11,14</span>+10%
                                        </div>
                                        <div class="values">
                                            <strong>18304</strong>
                                            Visits
                                        </div>
                                    </li>
                                    <li class="col-sm-4">
                                        <div class="sparkline_bar_neutral">
                                            <span>20,15,18,14,10,12,15,20</span>0%
                                        </div>
                                        <div class="values">
                                            <strong>3833</strong>
                                            Unique Visitors
                                        </div>
                                    </li>
                                    <li class="col-sm-4">
                                        <div class="sparkline_bar_bad">
                                            <span>4,6,10,8,12,21,11</span>+50%
                                        </div>
                                        <div class="values">
                                            <strong>18304</strong>
                                            Pageviews
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row space12">
                                <div class="col-sm-6">
                                    <div class="easy-pie-chart">
                                        <span class="bounce number" data-percent="44"> <span class="percent">44</span> </span>
                                        <div class="label-chart">
                                            Bounce Rate
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="easy-pie-chart">
                                        <span class="cpu number" data-percent="82"> <span class="percent">82</span> </span>
                                        <div class="label-chart">
                                            New Visits
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>