<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>ReimburseApp.com | Reimburse made simple</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
	
		<%= stylesheet_link_tag "application" %>
		<link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="login example1">


		<%= yield %> 
		<%= javascript_include_tag "application" %>
		<script>
			jQuery(document).ready(function() {
				// Login.init();
				var el = $('.box-login');
				el.show();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>